### Import Pandas

In [2]:
import pandas as pd

Read dataset.

In [3]:
gt_df = pd.read_csv('Dataset/GlobalTemperatures.csv')

Check dataset is being read correctly.

In [4]:
gt_df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

Convert data into their correct format.

In [5]:
gt_df ['dt'] = pd.to_datetime(gt_df['dt'])

In [6]:
gt_df['Year'] = gt_df['dt'].dt.year

In [7]:
gt_df['Month'] = gt_df['dt'].dt.month

In [8]:
gt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 11 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   datetime64[ns]
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
 9   Year                                       3192 non-null   int32
 10  Month                                      3192 non-null   int32
dtypes: datetime64[ns](1), float64(8), int32(2)
memory usage: 249.5 KB

In [9]:
gt_df.describe().T

,count,mean,min,25%,50%,75%,max,std
dt,3192,1882-12-15 23:02:15.338345984,1750-01-01 00:00:00,1816-06-23 12:00:00,1882-12-16 12:00:00,1949-06-08 12:00:00,2015-12-01 00:00:00,NaN
LandAverageTemperature,3180.0,8.374731,-2.08,4.312,8.6105,12.54825,19.021,4.38131
LandAverageTemperatureUncertainty,3180.0,0.938468,0.034,0.18675,0.392,1.41925,7.88,1.09644
LandMaxTemperature,1992.0,14.350601,5.9,10.212,14.76,18.4515,21.32,4.309579
LandMaxTemperatureUncertainty,1992.0,0.479782,0.044,0.142,0.252,0.539,4.373,0.583203
LandMinTemperature,1992.0,2.743595,-5.407,-1.3345,2.9495,6.77875,9.715,4.155835
LandMinTemperatureUncertainty,1992.0,0.431849,0.045,0.155,0.279,0.45825,3.498,0.445838
LandAndOceanAverageTemperature,1992.0,15.212566,12.475,14.047,15.251,16.39625,17.611,1.274093
LandAndOceanAverageTemperatureUncertainty,1992.0,0.128532,0.042,0.063,0.122,0.151,0.457,0.073587
Year,3192.0,1882.5,1750.0,1816.0,1882.5,1949.0,2015.0,76.799074
Month,3192.0,6.5,1.0,3.75,6.5,9.25,12.0,3.452593

In [10]:
gt_df.isnull().sum()

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
Year                                            0
Month                                           0
dtype: int64

Drop early years with sparse or empty data.

In [11]:
gt_df = gt_df.dropna(subset=['LandAndOceanAverageTemperature'])
gt_df = gt_df[gt_df['Year'] >= 1850]

In [12]:
gt_df.isnull().sum()

dt                                           0
LandAverageTemperature                       0
LandAverageTemperatureUncertainty            0
LandMaxTemperature                           0
LandMaxTemperatureUncertainty                0
LandMinTemperature                           0
LandMinTemperatureUncertainty                0
LandAndOceanAverageTemperature               0
LandAndOceanAverageTemperatureUncertainty    0
Year                                         0
Month                                        0
dtype: int64

In [13]:
annual_df = gt_df.groupby("Year")["LandAndOceanAverageTemperature"].mean().reset_index()

In [14]:
annual_df.rename(columns={"LandAndOceanAverageTemperature": "Temp"})

     Year       Temp
0    1850  14.867167
1    1851  14.991833
2    1852  15.006500
3    1853  14.955167
4    1854  14.991000
..    ...        ...
161  2011  15.769500
162  2012  15.802333
163  2013  15.854417
164  2014  15.913000
165  2015  16.058583

[166 rows x 2 columns]

In [15]:
annual_df.head()

   Year  LandAndOceanAverageTemperature
0  1850                       14.867167
1  1851                       14.991833
2  1852                       15.006500
3  1853                       14.955167
4  1854                       14.991000